body {
    background: #ff9c76 url("https://cdn.discordapp.com/attachments/452933471523045378/498571806131748865/unknown.png");
    background-repeat: repeat-x;
    background-attachment:fixed;
    background-position:left bottom;
    color: white;
}

small { color: white; }
select {color: black;}

a:not(.dropdown-link):not(.alert-link):not(.nav-link):not(.dropdown-item) { color: white; }
a:active, a:hover { text-decoration: underline; }

.btn-breadcrumb a { color:black; }
.btn-breadcrumb a:active, .btn-breadcrumb a:hover { color:black; text-decoration:underline; }

.navbar-right a { color:black; }
.navbar-right a:active, .navbar-right a:hover { color:black; text-decoration:underline; }

.footer a:active, .footer a:hover { color:black; text-decoration:underline; }

th, .card-header {
    background: #0094FF; /* Old browsers */

    padding: 4px 6px;
    text-shadow: 1px 1px 2px #000;
}

#breadBar {
    background: #0094FF; /* Old browsers */
    padding: 4px 6px;
    outline: 0px;
}

td, #onlineUserBar, .footer, .list-group-item, .card-body, .card-footer, .cell {
    background: rgba(34, 102, 119, 0.88);
}

button, input[type="submit"]
{
    color: black;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea, input[type="checkbox"], input[type="radio"]
{
    color: black;
}
