	<table class="table table-bordered">
		<thead><tr><th>Announcements</th></td></thead>
		<tbody><tr><td>{$annc.new} {$annc.poll}{$annc.links.tags}<a href="{$annc.links.link}">{$annc.links.name}</a> &mdash; Posted by {$annc.user} on {$annc.date}</td></tr></tbody>
	</table>