	<table class="outline margin form form_quickreply" id="quickreply">
		<tr class="header1">
			<th>Quick reply</th>
		</tr>
		<tr class="cell0">
			<td>
				{$fields.text}
			</td>
		</tr>
		<tr class="cell2">
			<td>
				{$fields.btnPost}
				{$fields.btnPreview}
				{$fields.mood}
				{$fields.nopl}
				{$fields.nosm}
				{$fields.lock}
				{$fields.stick}
				{$fields.question}
			</td>
		</tr>
	</table>
